tensorflow_gpu==1.14.0
openpyxl==3.0.0
matplotlib==3.1.0
Flask==1.1.1
numpy==1.16.4+mkl
python_docx==0.8.10
xpinyin==0.5.6
xlrd==1.2.0
keras_bert==0.80.0
py2neo==4.3.0
jieba==0.39
wordcloud==1.5.0
redis==3.3.8
gensim==3.8.0
docx==0.2.4
keras==2.3.1
tensorflow==2.0.0
