<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>信息化领域智能问答</title>
    <script type="text/javascript" src="../static/script/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../static/script/index.js"></script>
    <script type="text/javascript" src="../static/script/jquery.confirm.js"></script>
    <script type="text/javascript" src="../static/script/jquery.nicescroll.min.js"></script>
    <script src="../static/script/jquery-scrolltofixed.js"></script>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <script>
        $(document).ready(
          function () {
              $("#col-r").niceScroll({
                  cursorwidth: "10px",
                  horizrailenabled: false
              });
          }
      );


    </script>


</head>


<body>

<form method="post" action="index.html" id="form2">


    <div id="header">


        <div class="logo"></div>
        <div style="display: none">
            <input type="submit" name="ctl00$Top$LogOut" value="Button" id="Top_LogOut">
        </div>

    </div>

    <div>
        <div id="col-l">
            <div class="col-l-t">
                <div class="content">
                    <div class="bubble" id="Chat">
                        <div class="msg clearfix">
                            <div class="user-assistant"></div>
                            <span class="triangle"></span>
                            <div class="article">
                                <p>您好，我是小智。</p>
                                <p>您可以在这里咨询“北邮信息化领域”相关问题。</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-l-b">
                <div class="faq-input-content">
                    <textarea name="textfield" class="input" id="faqInput" placeholder="请输入问题" autocomplete="off"
                              onkeydown="checkEnter(event)"></textarea>
                    <input type="button" class="btn" value="发送" onclick="ChatSendClient()">
                    <div class="input-count"><span id="textCount"></span></div>
                </div>
            </div>
        </div>

        <div id="col-r" tabindex="0" style="overflow-y: hidden; outline: none;">

            <div class="container">
                <div class="title">
                    <div class="text">常见问题</div>
                </div>
                <ul class="qa-main" id="qa">
                </ul>
            </div>
            <div class="container">
                <div class="title">
                    <div class="text">历史问题回复</div>
                </div>
                <ul class="reply-main" id="reply">
                </ul>
            </div>
        </div>

    </div>


</form>


<script type="text/javascript">
        function checkEnter(e) {
            var et = e || window.event;
            var keycode = et.charCode || et.keyCode;
            if (keycode == 13) {
                if (window.event)
                    window.event.returnValue = false;
                else
                    e.preventDefault(); //for firefox
            }

        }

        var flay = 1;

        function timedMsg() {
            var t = setTimeout("flay=1;", 5000)
        }

        $(document).ready(function() {
            //focusblur
            jQuery.focusblur = function(focusid) {
                var focusblurid = $(focusid);
                var defval = focusblurid.val();
                focusblurid.focus(function() {
                    var thisval = $(this).val();
                    if (thisval == defval) {
                        $(this).val("");
                    }
                });
                focusblurid.blur(function() {
                    var thisval = $(this).val();
                    if (thisval == "") {
                        $(this).val(defval);
                    }
                });

            };
        });
        function LinkChatSendClient(str) {
            ClientChat(str);
            if (flay != 1) {
                AssistantChat("您提问的速度太快，请慢些！");
                return;
            }
            flay = 0;
            timedMsg();


            AssistantChat("马上为您查找，请稍候.....");

            SearchByTest(str);
            UpdateHistoryQuestion(str);
            UpdateCommonQuestion(str);
            }
        function ChatSendClient() {

            var s = document.getElementById('faqInput');
            var str = s.value;
            if (s.value == "") {
                return;
            }
            ClientChat(str);
            if (flay != 1) {
                AssistantChat("您提问的速度太快，请慢些！");
                return;
            }
            flay = 0;
            timedMsg();
            s.value = "";
            AssistantChat("马上为您查找，请稍候.....");

            SearchByTest(str);
            UpdateHistoryQuestion(str);
            UpdateCommonQuestion(str);
        }
        function UpdateHistoryQuestion(contxt){
        $.ajax({
                url: '/update_history_answer?question=' + contxt,
                success: function (res) {
                var ul = document.getElementById('reply');
                ul.innerHTML=res;
                }
                });
        }
        function UpdateCommonQuestion(contxt){
        $.ajax({
                url: '/update_common_answer?question=' + contxt,
                success: function (res) {
                var ul = document.getElementById('qa');
                ul.innerHTML=res;

                }
                });
        }
        function SearchByTest(contxt){
         $.ajax({
                url: '/obtain_answer?question=' + contxt,
                success: function (res) {
                var el = document.getElementById('Chat');
                 el.innerHTML += "<div class='msg clearfix'><div class='user-assistant'> </div><span class='triangle right'></span><div class='article'>" + res + "</div></div>";
                $('.col-l-t').animate({ scrollTop: document.getElementById('Chat').scrollHeight + 'px' });
                },
                fail: function() {
                    //code here...
                    alert("网络连接失败");
                }
                });
        }
        function ClientChat(str) {
            var el = document.getElementById('Chat');
            el.innerHTML += "<div class='msg fr'><span class='triangle right'></span><div class='article'><xmp>" + str + "</xmp></div></div>";
            $('.col-l-t').animate({ scrollTop: document.getElementById('Chat').scrollHeight + 'px' });
        }
        function AssistantChat(str) {
            var el = document.getElementById('Chat');
            el.innerHTML += "<div class='msg clearfix'><div class='user-assistant'></div><span class='triangle right'></span><div class='article'>" + str + "</div></div>";
            $(".slider").pageslide({ direction: "left" });
        }

        document.onkeydown = function(event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) { // enter 键
                e.preventDefault();
                ChatSendClient();
            }
        };


</script>
<script src="../static/script/jquery.input.count.js"></script><!--限制输入字数-->


<script src="../static/script/jquery.pageslide.js"></script>

<div id="pageslide" style="display: none;"></div>
<script>
    $(".slider").pageslide({ direction: "left", modal: "true" });


</script>
<script type="text/javascript" src="../static/script/jquery.number.js"></script>


<div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr"
     style="width: 12px; z-index: auto; cursor: default; position: absolute; top: 95px; left: 1428px; height: 326px; opacity: 0;">
    <div class="nicescroll-cursors"
         style="position: relative; top: 0px; float: right; width: 10px; height: 132px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(66, 66, 66); background-clip: padding-box;"></div>
</div>


</body>


</html>
